<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="img-container">
                <img class="img-resize" src="/public/images/imagenLibroDetalles.png" />
            </div>
        </div>
        <div class="col-5">
            <h5><strong>{{this.libro.titulo}}</strong></h5>
            <h5>{{this.libro.autor}}</h5>
            <hr />
            <p>Detalles Libro:</p>
            <p>editorial: {{this.libro.editorial}}</p>
            <p>Paginas  : {{this.libro.paginas}}</p>
            <p>iSBN10     : {{this.libro.iSBN10}}</p>
            <p>iSBN13   : {{this.libro.iSBN13}}</p>
        </div>
        <div class="col-4">
            <h2><strong>{{this.libro.precio}} €</strong></h2>
            <img src="/public/images/imagenComprar_detallesLibro.png" />
            <a href="http://localhost:3000/Pedido/AddLibroPedido/{{this.libro._id}}" class="btn btn-primary">
                <img src="/public/images/BotonComprarLibroDetalles.png" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Resumen</h3>
            <div>
                {{this.libro.descripcion}}
            </div>
        </div>
    </div>
</div>