<div class="container">
    <div class="row">
        <div class="col">
            <h2><strong>Mi Perfil de Usuario</strong></h2>
            <p>Queremos estar en contacto contigo y ofrecerte todas nuestras ventajas y servicios por ser usuario registrado de Agapea, tanto en nuestras librerías como en Agapea.com.</p>
        </div>
    </div>
    <div class="row">
        <!-- columna para la subida de la imagen avatar...-->
        <div class="col-3">
            <input type="file" accept="image/*" id="selectorImagen" name="imagen" style="visibility: hidden;"/>
            <a onclick="javascript:$('#selectorImagen')[0].click()">
                <img id="imagenUsuario" style="height: 130px; width:150px; margin: 5px" src="/public/images/ImgCliente.png">
            </a>
            <button class="btn btn-outline-primary" id="botonUploadImagen" disabled>Subir Imagen</button>
        </div>
        <div class="col-9">
            {{#if this.mensajesError}}
                 <div id="mensajesError">
                     <p><span style="text-danger">{{this.mensajesError}}</span></p>
                 </div>
            {{/if}}
            <form method='post' id='formGuardar' action='http://localhost:3000/Cliente/Panel/MiPerfil'>
                <div class='row'>
                    <div class='form-group col-6'>
                        <label for="inputNombre" class='form-label'><strong>Mi Nombre:</strong></label>
                        <input type="text" name="nombre" class="form-control" id="inputNombre" value="{{this.cliente.nombre}}"> 
                    </div>
                    <div class='form-group col-6'>
                        <label for="inputApellidos" class='form-label'><strong>Mis Apellidos:</strong></label>
                        <input type="text" name="apellidos" class="form-control" id="inputApellidos" value="{{this.cliente.apellidos}}">
                    </div>
                </div>
                <div class='row'>
                    <div class='form-group col-6'>
                        <label for="inputEmail4" class='form-label'><strong>Correo Electronico</strong></label>
                        <input type="email" class="form-control" id="inputEmail4" name="email" value="{{this.cliente.credenciales.email}}">
                    </div>
                    <div class='form-group col-6'>
                        <label for="inputTelefono" class='form-label'><strong>telefono de contacto:</strong></label>
                        <input type="text" name="telefonoContacto" class="form-control" id="inputTelefono" value="{{this.cliente.telefonoContacto}}">
                    </div>
                </div>
                <div class='row'>
                    <div class='form-group col-6'>
                        <label for="usernick" class='form-label'><strong>Usuario (nickname)</strong></label>
                        <input type="text" class="form-control" id="usernick" name="login" value="{{this.cliente.credenciales.login}}">
                    </div>
                    <div class='form-group col-6'></div>
                </div>
                <div class='row'>
                    <div class='form-group col'>
                        <label for="descripcion" class='form-label'><strong>Mi Descripcion:</strong></label>
                        <textarea  placeholder="Me gusta definirme como un lector de libros de..." id="descripcion" size="20" name="descripcion" style="margin: 0px 0px 10px; width: 601px; height: 116px;"></textarea>
                    </div>
                </div>
                <div class='row'>
                    <div class='form-group col'>
                        <p><strong>Opciones de Privacidad</strong></p>
                        <div class="form-check">                           
                            <input class="form-check-input" type="checkbox" id="checkOpcionesPrivacidad">
                            <label class="form-check-label" for="checkOpcionesPrivacidad">Deseo recibir información sobre libros, novedades y eventos de Agapea.como sus librerías.</label>                        
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class='col'>
                        <p><strong>Darse de baja como usuario registrado</strong></p>
                        <p>Para dar de baja su cuenta de usuario registrado en nuestro sistema, pulse </p>
                        <a href='http://localhost:3000/Cliente/Panel/Borrar'> aquí</a>
                    </div>
                </div>  

                <div class='row'>
                    <div class='col-10'></div>
                    <div class='col-2'>
                        <a class='btn btn-outline-primary' onclick='javascript:$("#formGuardar").submit();'>
                            <img src='/public/images/botonGuardarCambios.png'>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    //añadimos handler al evento onchange del input de tipo file...
    $('#selectorImagen').change(function(ev) { 
        const fichSeleccionado = ev.target.files[0];  
        const reader = new FileReader();  

        reader.addEventListener('load', function(evt) {
            $('#imagenUsuario').attr('src', evt.target.result);  
            $('#botonUploadImagen').removeAttr('disabled');
            $('#botonUploadImagen').click(function(evento) {   
                $(evento.target).attr('disabled', '');

                //creamos obj formdata: permite manda datos en formato multipart/form-data
                const datos = new FormData();
                datos.append('imagen', fichSeleccionado); 

                $.ajax({
                    method:'post', 
                    url: "http://localhost:3000/api/uploadImagen", 
                    data: datos, 
                    contentType: false, 
                    processData: false                                                  
                })
                .always( 
                    function() { 
                        $('#botonUploadImagen').removeAttr('disabled');
                    }
                );
            })
        });
        reader.readAsDataURL(fichSeleccionado); 
    })
</script>
