<div class="container">
    {{#if this.mensajesError}}
        <div id="mensajesError">
            <p><span style="text-danger">{{this.mensajesError}}</span></p>
        </div>
    {{/if}}
    <div class="row">
        <h2 class="fw-bold">{{this.cliente.nombre}}</h2>
    </div>
    <div class="row">
        <div class="col-2">
            <img src="/public/images/ImgCliente.png">
        </div>
        <div class="col-5">
            <h5 class="text-secondary">Apodo (para tus opiniones):</h5><br>
            <p class="text-secondary">{{this.cliente.credenciales.login}}</p><br>
            <h5 class="text-secondary">Nombre:</h5><br>
            <p class="text-secondary">{{this.cliente.nombre}}</p><br>
        </div>
         <div class="col-5">
            <h5 class="text-secondary">Correo electrónico:</h5><br>
            <p class="text-secondary">{{this.cliente.credenciales.email}}</p><br>  
            <h5 class="text-secondary">Teléfono de contacto:</h5><br>
            <p class="text-secondary">{{this.cliente.telefonoContacto}}</p><br>             
        </div>
    </div>
    <div class="row">
        <img src="/public/images/imagen_MiListaDeseos.png">
    </div>  
</div> 